body {
  /* Dit zorgt ervoor dat er geen witte rand zichtbaar is rond de afbeelding */
  margin: 0;
  padding: 0;
}

header {
  /* 
   * Zorg dat de afbeelding ../../images/zee.jpg
   * gecentreerd over de volledige pagina getoond wordt
   */

  /* Onderstaande CSS zorgt ervoor dat de tekst gecentreerd staat */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Zorg dat de h1 witte tekst toont */
